.icon{
    display: flex;
    justify-content: flex-end;
}
.icon svg{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.icon svg:hover{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}


