.superior-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000;
    color: aliceblue;
    padding: 10px;
    
}
ul{
    margin-top: 15px;
}
li{
    margin: 5px;
    
}
.fa-times-circle{
    background-color: rgba(176, 167, 129, 0.9);
    color: #000;
}
.fa-times-circle:hover{
    color:red;
}
.fa-trash-alt {
    color: #000;
}
.fa-trash-alt:hover {
    color: red;
}
footer{
    width: 100%;
}
#footer{
    display: flex;
    flex-direction: column;
}
.pie h5{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.redes{
    display: flex;
    justify-content: center;
    
}
.redes a{
    color: #000;
    padding: 20px;
    font-size: 30px;
}
.redes a:hover{
    color:rgba(0, 0, 0, 0.3);
}
