*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  background-image: url('./components/img/fondo1.png');
  background-size: cover;
  background-attachment: fixed;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
 /* border: 1px solid blue;*/
  font-family: 'Roboto Mono', monospace;
  color: black;
  margin-top: 30px;
}
.logo-up{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
 /* border: 2px solid red;*/
 -webkit-animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.logo-up img{
  width: 300px;
  border-radius: 50%;
  /*border: 2px solid blue;*/
}
@-webkit-keyframes scale-up-center {
  0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}